In [0]:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "71cd1754-1f8f-4b76-8e33-f022458aaf10",
"fs.azure.account.oauth2.client.secret": 'Vns8Q~iG1cSM8Zhgh9Chkt7LVZv6rBq-CEhCicHM',
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/1ae498f7-5ec9-450a-bdde-849a54295976/oauth2/token"}


dbutils.fs.mount(
source = "abfss://tokyo-olympic-data@tokyoolympicdatasumit.dfs.core.windows.net", # contrainer@storageacc
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

True

In [0]:
%fs
ls "/mnt/tokyoolympic"

path,name,size,modificationTime
dbfs:/mnt/tokyoolympic/raw-data/,raw-data/,0,1755808076000
dbfs:/mnt/tokyoolympic/transformed-data/,transformed-data/,0,1755808094000

In [0]:
athletes_df = spark.read.format("csv").option("header", "true").option("inferSchema","True").load("/mnt/tokyoolympic/raw-data/athletes.csv")
coaches_df = spark.read.format("csv").option("header", "true").option("inferSchema","True").load("/mnt/tokyoolympic/raw-data/coaches.csv")
entriesgender_df = spark.read.format("csv").option("header", "true").option("inferSchema","True").load("/mnt/tokyoolympic/raw-data/entriesgender.csv")
medals_df = spark.read.format("csv").option("header", "true").option("inferSchema","True").load("/mnt/tokyoolympic/raw-data/medals.csv")
teams_df = spark.read.format("csv").option("header", "true").option("inferSchema","True").load("/mnt/tokyoolympic/raw-data/teams.csv")

In [0]:
athletes_df.show(10,0)
athletes_df.printSchema()

+-----------------+------------------------+-------------------+
|PersonName       |Country                 |Discipline         |
+-----------------+------------------------+-------------------+
|AALERUD Katrine  |Norway                  |Cycling Road       |
|ABAD Nestor      |Spain                   |Artistic Gymnastics|
|ABAGNALE Giovanni|Italy                   |Rowing             |
|ABALDE Alberto   |Spain                   |Basketball         |
|ABALDE Tamara    |Spain                   |Basketball         |
|ABALO Luc        |France                  |Handball           |
|ABAROA Cesar     |Chile                   |Rowing             |
|ABASS Abobakr    |Sudan                   |Swimming           |
|ABBASALI Hamideh |Islamic Republic of Iran|Karate             |
|ABBASOV Islam    |Azerbaijan              |Wrestling          |
+-----------------+------------------------+-------------------+
only showing top 10 rows
root
 |-- PersonName: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)

In [0]:
coaches_df.show(10,0)
coaches_df.printSchema()

+-------------------------+------------------------+-----------------+--------+
|Name                     |Country                 |Discipline       |Event   |
+-------------------------+------------------------+-----------------+--------+
|ABDELMAGID Wael          |Egypt                   |Football         |NULL    |
|ABE Junya                |Japan                   |Volleyball       |NULL    |
|ABE Katsuhiko            |Japan                   |Basketball       |NULL    |
|ADAMA Cherif             |Cï¿½te d'Ivoire           |Football         |NULL    |
|AGEBA Yuya               |Japan                   |Volleyball       |NULL    |
|AIKMAN Siegfried Gottlieb|Japan                   |Hockey           |Men     |
|AL SAADI Kais            |Germany                 |Hockey           |Men     |
|ALAMEDA Lonni            |Canada                  |Baseball/Softball|Softball|
|ALEKNO Vladimir          |Islamic Republic of Iran|Volleyball       |Men     |
|ALEKSEEV Alexey          |ROC                     |Handball         |Women   |
+-------------------------+------------------------+-----------------+--------+
only showing top 10 rows
root
 |-- Name: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
entriesgender_df.show(10,0)
entriesgender_df.printSchema()

+-------------------+------+----+-----+
|Discipline         |Female|Male|Total|
+-------------------+------+----+-----+
|3x3 Basketball     |32    |32  |64   |
|Archery            |64    |64  |128  |
|Artistic Gymnastics|98    |98  |196  |
|Artistic Swimming  |105   |0   |105  |
|Athletics          |969   |1072|2041 |
|Badminton          |86    |87  |173  |
|Baseball/Softball  |90    |144 |234  |
|Basketball         |144   |144 |288  |
|Beach Volleyball   |48    |48  |96   |
|Boxing             |102   |187 |289  |
+-------------------+------+----+-----+
only showing top 10 rows
root
 |-- Discipline: string (nullable = true)
 |-- Female: integer (nullable = true)
 |-- Male: integer (nullable = true)
 |-- Total: integer (nullable = true)

In [0]:
medals_df.show(10,0)
medals_df.printSchema()

+----+--------------------------+----+------+------+-----+-------------+
|Rank|TeamCountry               |Gold|Silver|Bronze|Total|Rank by Total|
+----+--------------------------+----+------+------+-----+-------------+
|1   |United States of America  |39  |41    |33    |113  |1            |
|2   |People's Republic of China|38  |32    |18    |88   |2            |
|3   |Japan                     |27  |14    |17    |58   |5            |
|4   |Great Britain             |22  |21    |22    |65   |4            |
|5   |ROC                       |20  |28    |23    |71   |3            |
|6   |Australia                 |17  |7     |22    |46   |6            |
|7   |Netherlands               |10  |12    |14    |36   |9            |
|8   |France                    |10  |12    |11    |33   |10           |
|9   |Germany                   |10  |11    |16    |37   |8            |
|10  |Italy                     |10  |10    |20    |40   |7            |
+----+--------------------------+----+------+------+-----+-------------+
only showing top 10 rows
root
 |-- Rank: integer (nullable = true)
 |-- TeamCountry: string (nullable = true)
 |-- Gold: integer (nullable = true)
 |-- Silver: integer (nullable = true)
 |-- Bronze: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Rank by Total: integer (nullable = true)

In [0]:
teams_df.show(10,0)
teams_df.printSchema()

+-----------+--------------+--------------------------+-----+
|TeamName   |Discipline    |Country                   |Event|
+-----------+--------------+--------------------------+-----+
|Belgium    |3x3 Basketball|Belgium                   |Men  |
|China      |3x3 Basketball|People's Republic of China|Men  |
|China      |3x3 Basketball|People's Republic of China|Women|
|France     |3x3 Basketball|France                    |Women|
|Italy      |3x3 Basketball|Italy                     |Women|
|Japan      |3x3 Basketball|Japan                     |Men  |
|Japan      |3x3 Basketball|Japan                     |Women|
|Latvia     |3x3 Basketball|Latvia                    |Men  |
|Mongolia   |3x3 Basketball|Mongolia                  |Women|
|Netherlands|3x3 Basketball|Netherlands               |Men  |
+-----------+--------------+--------------------------+-----+
only showing top 10 rows
root
 |-- TeamName: string (nullable = true)
 |-- Discipline: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Event: string (nullable = true)

In [0]:
athletes_df.write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/athletes")
coaches_df.write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/coaches")
entriesgender_df.write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/entriesgender")
medals_df.write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/medals")
teams_df.write.mode("overwrite").option("header", "true").csv("/mnt/tokyoolympic/transformed-data/teams")